<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Maintenance Request Form
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form #requestForm="ngForm" class="maint-form" (ngSubmit) ="onSubmit(requestForm.value)" > 
          <mat-form-field>
            <mat-label>Apartment Unit #</mat-label>
            <input matInput name="unitNumber"ngModel type="text" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Requester Name</mat-label>
            <input matInput name="name"ngModel type="text" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Requester Email</mat-label>
            <input matInput name="email" ngModel type="email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Service Type</mat-label>
            <mat-select name="serviceType" ngModel >
              <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType">
                {{serviceType}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Summary</mat-label>
            <input matInput name="summary"ngModel type="text" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Details</mat-label>
            <textarea name="details" matInput ngModel></textarea>
          </mat-form-field>

          <button type="submit" mat-raised-button color="accent" >
            Submit
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
